.addBtn{

    color: aliceblue;
    border: none;
    margin: 0 5px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0.37rem 1rem 0.36rem;
    box-shadow: 2px 4px 5px rgba(56, 55, 55, 0.842);
  
}
